* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	max-width: 1600px;

}




body {
	height: 100vh;
	font-family: "Raleway";
	background: url("Bright_Future.jpg");
	background-size: cover;
	
}


.search {
	display: flex;
	justify-content: center;
	width: 82%;
	height: 90%;
	margin: 10%;
	
/*	overflow-y: scroll;*/
	
	border-radius : 4%;
	
	color: orange;
	background:rgba(0,0,0,0.4);
	/*border: 2px solid orange;*/
	padding: 10px 24px;
	/*text-align: center;*/
	/*z-index:2;
	transition:all 500ms ease-in-out;*/
}

.search .box  {
	display: flex;
	flex-direction: column;
	align-items: center;
    /*font-size: xx-large;*/
}


 .search .box #query {
	position: relative;
	cursor: pointer;
	max-width: 65%;
	border-radius : 8%;
	font-size: 56px;
	color: orange;
	background:rgba(0,0,0,0.2);
	border: 2px solid orange;
	padding: 8px 18px;
	left:1%;
}


.search .box #submit {
	position: absolute;
	cursor: pointer;	
	left: 34%;
	border-radius : 8%;
	font-size: 56px;
	color: orange;
	background:rgba(0,0,0,0.2);
	border: 2px solid orange;
	padding: 0% 8%;
	margin: 3%;
}

.search .box #submit:active {
    color: red;
    border: 1px solid red;
}

.search .box button {
	position: absolute;
	cursor: pointer;
	bottom: 0%;	
	left: 30%;
	border-radius : 8%;
	font-size: 56px;
	color: orange;
	background:rgba(0,0,0,0.2);
	border: 2px solid orange;
	padding: 0% 5%;
	margin: 10%;
}

 

.search .box .search-list .sList{
	
	position: absolute;
	left: 15%;
	color: #ccc;
	font-size: 40px;*/
	/*font-weight: 1000;*/
	width: 80%;
	height: 60%;
	margin-top:20%;
	cursor: pointer;
	overflow-y: scroll;
	background: rgba(30,0,0,0.0);
	z-index:2;
	display: block;
}

.search .box .search-list .sList:active{
	color: red;
    border: 1px solid red;
}



/*
@media all and (max-width: 1500px) {
.player{width: 90%;
	top: 48%;
	height: 90%;}

.player .main .details {
	text-align: center;
	padding: 35px 0px;
}
.player .main .details h2 {
	font-size: 68px;
	color:#eee;
	margin-bottom: 5px;
}
.player .main .details h3 {
	font-size: 65px;
	color: #aaa;
}
.player .main .details p {
	font-size: 85px;
	color: #eee;
}
.player .main .controls i.fa {
	font-size:100px;
	padding: 25px;
}

.player .player-list {
height: 70%;
}
.player.activeSongList .player-list {
	margin-top: -600px; /* was about 300
}

.player .player-list .toggle-list i.fa {
	font-size: 25px;
	
}
.player .list .item .details h2 {
	
	font-size: 56px;
}

.player .list .item .details p {
	font-size: 55px;
}
}*/