<!DOCTYPE html>
<html>
<body>



<!DOCTYPE html>

<!-- https://www.gitto.tech/posts/create-simple-music-player-app-using-html-css-and-javascript/ -->

<html>
<head>
	<title> Pioneer Audio Player </title>
	<link rel="shortcut icon" type="image/jpg" href="./static/pioneer.png"/>
	<link rel='stylesheet' type="text/css" href="/static/styles_search.css">
	<link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="player">
	<div class="main">
		<audio></audio>
		<div class="thumbnail">
			<img src="./static/Bright_Future.jpg">
		</div>


		<div class="details">
			<h5 id="runTime">00:00</h5>
			<p></p>
			<h3></h3>
			<h2></h2>
		</div>
		

		<div class="search-wrapper">
    		<label for="search">Search Users</label>
    		<input type="search" id="search" data-search>
  			
  		<button>Search</button><
  		</div>

  	<div class="user-cards" data-user-cards-container></div>
  	
  	<template data-user-template>
    <div class="card">
     <div class="header" data-header></div>
     <div class="body" data-body></div>
    </div>





	</div>

		<div class="search-list">
		</div>
	</div>
</div>

<script src="static/script.js"></script>
</body>
</html>
