<!DOCTYPE html>
<html>
<body>



<!DOCTYPE html>

<!-- https://www.gitto.tech/posts/create-simple-music-player-app-using-html-css-and-javascript/ -->

<html>
<head>
	<title> Pioneer Audio Player </title>
	<link rel="shortcut icon" type="image/jpg" href="./static/pioneer.png"/>
	<link rel='stylesheet' type="text/css" href="/static/styles_search.css">
	<link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="search">
	<div class="box">
		
	<input id="query" type="text" name="query">
	
	<div  class="submit">
	<input id="submit" type="submit" value="Search" onclick="search(document.getElementById('query').value)">
	</div>
	

	<div class="search-list">
		<ul class="sList"  list-style-type: none; ></ul>
	</div>
		


	  <a href="/">
    <button>Back</button>
  </a> 
  <div class="bomb">
				<button class="fa fa-registered"></button>
			</div>
	</div>
	</div>






<script src="static/script.js"></script>
</body>
</html>
